# Python-related
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp

# Django-related
*.log
*.pot
staticfiles/

# Virtual Environments
venv/
resume_env/

# Jupyter Notebooks
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
